* {
  margin: 0;
  padding: 1px;
}
.top-gradient {
  border: 2px solid black;

  height: 25px;
  background-image: linear-gradient(to right, red, green, yellow);
  text-align: center;
  text-decoration: underline;
}
.menu-bar {
  width: 600px;
  height: 70px;
  border: 2px solid red;
  border-radius: 10px;
  margin-left: 350px;
  background-color: lightskyblue;
  text-align: center;
}
.list-styl {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 100px;
}
.third-div {
  border: 2px solid black;
  height: 110px;
  background-color: cyan;
  border-radius: 10px;
  display: flex;
}
.box1 {
  width: 410px;
  height: 50px;
  border: 2px solid black;
  background-color: aqua;
  margin-left: 20px;
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
}
.box2 {
  width: 420px;
  height: 50px;
  border: 2px solid black;
  background-color: aqua;
  margin-left: 40px;
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
}
.box3 {
  width: 420px;
  height: 50px;
  border: 2px solid black;
  background-color: aqua;
  margin-left: 40px;
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
}
.box4 {
  width: 420px;
  height: 50px;
  margin-top: 55px;
  position: absolute;
  right: 475px;
  border: 2px solid black;
  background-color: aqua;
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
}
.exam-banner {
  border: 2px solid black;

  height: 25px;
  /* margin-top: 400px; */
  background-image: linear-gradient(to right, red, yellow, red);
  text-align: center;
}
.cand-results {
  border: 2px solid black;
  height: 200px;
  background-image: radial-gradient(ellipse, rgb(3, 20, 252), rgb(3, 252, 119));
}
.student {
  width: 155px;
  height: 105px;
  border: 2px solid black;
  display: inline-block;
  margin-left: 200px;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 40px;
  text-decoration-color: red;
}
.stud1 {
  margin-right: 20px;
  margin-left: 40px;
  background-color: yellow;
}
.stud2 {
  background-color: yellow;
}
.stud3 {
  background-color: yellow;
}
.stud4 {
  background-color: yellow;
}
.career-title {
  /*  */
  height: 25px;
  background-color: orangered;
  text-align: center;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid {
  margin: 10px;
  border: 2px solid cyan;
}
.grid1 {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #71e058;
  color: white;
  text-align: center;
  font-weight: bold;
}
.grid2 {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #58ace0;
  color: white;
  text-align: center;
  font-weight: bold;
}
.grid3 {
  font-size: 20px;
  background-color: #251fd1;
  color: white;
  text-align: center;
  font-weight: bold;
}
.grid4 {
  color: white;
  background-color: black;
  grid-column: 4/5;
  grid-row: 1/3;
}
.grid5 {
  font-size: 20px;
  background-color: orange;
  color: white;
  text-align: center;
  font-weight: bold;
  grid-column: 1/4;
  grid-row: 2/3;
}
.grid6 {
  background-color: #89cce8;
  text-align: center;
  grid-column: 1/5;
  grid-row: 3/4;
  font-weight: bold;
  font-size: 20px;
}
